<div id="officeRecordContainer">

	<div id="officeRecordHeader">
		<h1>STUDENT'S OFFICIAL OFFICE RECORD</h1>

		<h3>FOR THE STATE OF WISCONSIN</h3>
		<h3>AND THE MOTOR VEHICLE DEPARTMENT</h3>

		<h2>B.T.W.</h2>
	</div>

	<div id="printClassInstructorArea">
		<table>
			<tr><td>BTW</td> <td class="printInstructorLabelRight">Instructor</td></tr>
		</table>
	</div>

	<div id="printAgreementSection">
		<table>
			<tr><td>Agreement#</td> <td><%=@student.agreement_number%></td></tr>
		</table>
	</div>

	<div id="printStudentInformationArea">
		<table>
			<tr><td class="printStudentInformationAreaLeft"><%=@student.first_name%> <%=@student.middle_initial%> <%=@student.last_name%></td> <td><%=@student.phone_1%> <%=@student.phone_2%></td></tr>
			<tr><td><%=@student.street_address%></td> <td><%=@student.city%>, <%=@student.state%> <%=@student.zip_code%></td></tr>

            <%if @student.temps_number == ""%>
                <tr><td>X000-0000-0000-00 <%=@student.sex.upcase%></td> <td><%=if @student.dob; @student.dob.strftime("%m/%d/%Y"); end%></td></tr>
            <%else%>
                <tr><td><%=@student.temps_number%> <%=@student.sex.upcase%></td> <td><%=if @student.dob; @student.dob.strftime("%m/%d/%Y"); end%></td></tr>
            <%end%>

			<tr><td>Temps Issue Date: <%=if @student.temps_issued; @student.temps_issued.strftime("%m/%d/%Y"); end%></td> <td><%=@student.school_attend%></td></tr>
		</table>
	</div>

	<div id="btwPrintViewMiddleTable">
		<table>
			<tr><td class="btwPrintViewMiddleTableExpirationDate">Expiration Date:</td></tr>
		</table>

		<table>
			<tr><td class="btwPrintViewMiddleTableNotes">Notes:</td></tr>
		</table>
	</div>

	<div id="btwPrintBottomChartArea">
		<table>
			<tr>
				<th class="btwPrintChartColumnHeader">Date</th>
				<th class="btwPrintChartColumnHeader">Lesson Type</th>
				<th class="btwPrintChartColumnHeader">Drive Time (Hours)</th>
				<th class="btwPrintChartColumnHeader">Observation Time (Hours)</th>
				<th class="btwPrintChartColumnHeader">Vehicle #</th>
				<th class="btwPrintChartColumnHeader">Instructor Name</th>
				<th class="btwPrintChartColumnHeader">Instructor #</th>
				<th class="btwPrintChartColumnHeader">Receipt #</th>
				<th class="btwPrintChartColumnHeader">Amount Paid</th>
				<th class="btwPrintChartColumnHeader">Balance Due</th>
			</tr>
			<tr><td class="btwPrintLeftMostColumn"></td> <td class="btwPrintSessionData">BTW Session 1</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
			<tr><td class="btwPrintLeftMostColumn"></td> <td class="btwPrintSessionData">BTW Session 2</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
			<tr><td class="btwPrintLeftMostColumn"></td> <td class="btwPrintSessionData">BTW Session 3</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
			<tr><td class="btwPrintLeftMostColumn"></td> <td class="btwPrintSessionData">BTW Session 4</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
			<tr><td class="btwPrintLeftMostColumn"></td> <td class="btwPrintSessionData">BTW Session 5</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
			<tr><td class="btwPrintLeftMostColumn"></td> <td class="btwPrintSessionData">BTW Session 6</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
			<tr><td class="btwPrintLeftMostColumn"></td> <td class="btwPrintSessionData">BTW Session 7</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
			<tr><td class="btwPrintLeftMostColumn"></td> <td class="btwPrintSessionData">BTW Session 8</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
			<tr><td class="btwPrintLeftMostColumn"></td> <td class="btwPrintSessionData">BTW Session 9</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
			<tr><td class="btwPrintLeftMostColumn"></td> <td class="btwPrintSessionData">BTW Session 10</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
			<tr><td class="btwPrintLeftMostColumn"></td> <td class="btwPrintSessionData">BTW Session 11</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
			<tr><td class="btwPrintLeftMostColumn"></td> <td class="btwPrintSessionData">BTW Session 12</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
			<tr><td class="btwPrintLeftMostColumn"></td> <td class="btwPrintSessionData">BTW Session 13</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
			<tr><td class="btwPrintLeftMostColumn"></td> <td class="btwPrintSessionData">BTW Session 14</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
			<tr><td class="btwPrintLeftMostColumn"></td> <td class="btwPrintSessionData">BTW Session 15</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
			<tr><td class="btwPrintHoursTotalColumn"></td> <td class="btwPrintHoursData">Hours Sum</td> <td class="btwPrintHoursData">6</td> <td class="btwPrintHoursData">6</td></tr>
		</table>
	</div>

</div>
