<div id="officeRecordContainer">
	
	<div id="officeRecordHeader">
		<h1>STUDENT'S OFFICIAL OFFICE RECORD</h1>
		
		<h3>FOR THE STATE OF WISCONSIN</h3>
		<h3>AND THE MOTOR VEHICLE DEPARTMENT</h3>
		
		<h2>CLASSROOM</h2>
	</div>
	
	<div id="printClassInstructorArea">
		<table>
			<tr><td>Class</td> <td class="printInstructorLabelRight">Instructor</td></tr>
		</table>
	</div>
	
	<div id="printAgreementSection">
		<table>
			<tr><td>Agreement#</td> <td><%=@student.agreement_number%></td></tr>
		</table>
	</div>
	
	<div id="printStudentInformationArea">
		<table>
			<tr><td class="printStudentInformationAreaLeft"><%=@student.first_name%> <%=@student.middle_initial%> <%=@student.last_name%></td> <td><%=@student.phone_1%> <%=@student.phone_2%></td></tr>
			<tr><td><%=@student.street_address%></td> <td><%=@student.city%> <%=@student.zip_code%></td></tr>
			<tr><td></td> <td><%=if @student.dob; @student.dob.strftime("%m/%d/%Y"); end%></td></tr>
			<tr><td></td> <td><%=@student.school_attend%></td></tr>
			<tr><td><%=@student.sex.upcase%></td> <td></td></tr>
		</table>
	</div>
	
	<div id="classroomPrintRightOptionsColumn">
		<table>
			<tr><th>OTHER</th></tr>
			<tr><td class="classroomPrintRightOptionsColumnEmptyBox"></td></tr>
			<tr><td class="classroomPrintRightOptionsColumnSpacer"></td></tr>
			
			<tr><th>SAMPLE TEST</th></tr>
			<tr><td class="classroomPrintRightOptionsColumnEmptyBox"></td></tr>
			<tr><td class="classroomPrintRightOptionsColumnSpacer"></td></tr>
			
			<tr><th>M.M. TEST</th></tr>
			<tr><td class="classroomPrintRightOptionsColumnEmptyBox"></td></tr>
			<tr><td class="classroomPrintRightOptionsColumnSpacer"></td></tr>
			
			<tr><th>S.B. SURVEY</th></tr>
			<tr><td class="classroomPrintRightOptionsColumnEmptyBox"></td></tr>
			<tr><td class="classroomPrintRightOptionsColumnSpacer"></td></tr>
			
			<tr><th>2ND WK. QUIZ</th></tr>
			<tr><td class="classroomPrintRightOptionsColumnEmptyBox"></td></tr>
			<tr><td class="classroomPrintRightOptionsColumnSpacer"></td></tr>
			
			<tr><th>BASIC C.C.</th></tr>
			<tr><td class="classroomPrintRightOptionsColumnEmptyBox"></td></tr>
			<tr><td class="classroomPrintRightOptionsColumnSpacer"></td></tr>
			
			<tr><th>PROJECT</th></tr>
			<tr><td class="classroomPrintRightOptionsColumnEmptyBox"></td></tr>
			<tr><td class="classroomPrintRightOptionsColumnSpacer"></td></tr>
			
			<tr><th>FINAL</th></tr>
			<tr><td class="classroomPrintRightOptionsColumnEmptyBox"></td></tr>
			<tr><td class="classroomPrintRightOptionsColumnSpacer"></td></tr>
		</table>
	</div>
	
	<div id="printBottomChartArea">
		<table>
			<tr><th class="printUpperLeftTableHeader"></th> <th class="classroomPrintChartColumnHeader">DATE</th> <th class="classroomPrintChartColumnHeader">CLASS</th> <th class="classroomPrintChartColumnHeader">HOME WORK</th> <th class="classroomPrintChartColumnHeader">H.W. RETURN</th> <th class="classroomPrintChartColumnHeader">RECPT. #</th> <th class="classroomPrintChartColumnHeader">AMT.</th> <th class="classroomPrintChartColumnHeader">INST.</th></tr>
			<tr><td class="classroomPrintLeftMostColumn">1</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>
			<tr><td class="classroomPrintLeftMostColumn">2</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>
			<tr><td class="classroomPrintLeftMostColumn">3</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>
			<tr><td class="classroomPrintLeftMostColumn">4</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>
			<tr><td class="classroomPrintLeftMostColumn">5</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>
			<tr><td class="classroomPrintLeftMostColumn">6</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>
			<tr><td class="classroomPrintLeftMostColumn">7</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>
			<tr><td class="classroomPrintLeftMostColumn">8</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>
			<tr><td class="classroomPrintLeftMostColumn">9</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>
			<tr><td class="classroomPrintLeftMostColumn">10</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>
			<tr><td class="classroomPrintLeftMostColumn">11</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>
			<tr><td class="classroomPrintLeftMostColumn">12</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>
			<tr><td class="classroomPrintLeftMostColumn">13</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>
			<tr><td class="classroomPrintLeftMostColumn">14</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>
			<tr><td class="classroomPrintLeftMostColumn">15</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>	
		</table>
	</div>
	
</div>