<!DOCTYPE html>
<html>
<head>
  <title>Driving School Student Database</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<%= link_to (image_tag "DE_Main_Logo.gif", :class => "mainHeaderLogo"), :controller => "students", :action => "index" %>

	<h1 class="headerTitle">Driving School Student Database</h1>
</header>

<div id="mainContent">
	<% if flash[:notice] %>
		<div class="flashNotice">
			<%= flash[:notice] %>
		</div>
	<% end %>

	<%= yield %>
</div>
    
</body>
</html>
